.home-container {
    display: flex;
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 100px;
  }
  
  .home-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .home-card {
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 3;
    border-radius: 8px;
    border: 2px solid;
  }
  
  .home-card-media {
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .home-card-content {
    flex-grow: 1;
    padding: 16px;
  }
  