/* Navbar.css */
.logo {
  width: 64px; 
  height: 64px;
  object-fit: cover;
}

.button{
  background-color: #9146ff;
  color: white;
  font-size: 0.75rem;
  font-family: 'Inter-Regular', 'Helvetica';
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.button:hover{
  background-color: #8134e8;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.button-log-reg{
  background-color: #9146ff;
  color: white;
  font-size: 0.75rem;
  font-family: 'Inter-Regular', 'Helvetica';
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.button-log-reg:hover{
  background-color: #8134e8;
}
