
.guias-container {
  margin-top: 100px;
  border-radius: 10px;
  padding: 20px; 
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto; 
}

.guias-title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff; 
  text-align: center; 
  margin-bottom: 10px; 
}


.guias-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px; 
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #9147FF;
}

.pagination-container .MuiPaginationItem-root {
  color: #9147FF; 
}

.pagination-container .MuiPaginationItem-page.Mui-selected {
  background-color: #9147FF; 
  color: white;
}

.pagination-container .MuiPaginationItem-ellipsis {
  color: #9147FF; 
}
